zoom-review-prod-.json
{
  "createdAt": "2025-08-01T02:59:55.985Z",
  "updatedAt": "2025-08-01T03:15:27.000Z",
  "id": "kGbINaW5DOKkd9ZH",
  "name": "Zoom-review-Prod",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        176
      ],
      "id": "ee1cfbf6-73ba-4045-9bc9-5e2ca45b3116",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.google_sheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.google_sheet_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -144,
        176
      ],
      "id": "ddf7d866-9f1e-423c-b849-07cbcbd6e78c",
      "name": "Zoom Reviews",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VXAlxkWiOANdzJaF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        176
      ],
      "id": "fffa2522-f0d4-4415-acb2-47194e323616",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0de5445-e815-4134-ab86-4f77496b1dfd",
              "leftValue": "={{ $json['评级'] }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "ecb187b4-5c2c-4a2f-8362-e029e6969847",
              "leftValue": "={{ $json['内容'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "23a9a206-5122-4975-9f27-a7bc7cb332ef",
              "leftValue": "={{ $json['内容'] }}",
              "rightValue": "该条评论已经被删除",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        80,
        176
      ],
      "id": "f0afdcdd-52c3-49b4-a4d7-52791ccb62d4",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Product Manager, highly skilled in analyzing customer feedback, identifying user needs, and transforming insights into actionable product improvements.  \nYour task is to:  \nAnalyze the provided customer feedback and categorize it based on different application functions.  \nFilter out non-constructive or purely hostile remarks while focusing on meaningful insights.  \nSummarize key pain points within each category, ensuring clarity and relevance.  \nPropose specific improvements to address each pain point and enhance the user experience.  \nStructure your output using the following format:  \nCategory: [Application Function]  \nKey Pain Points: [Summarized customer frustrations or issues]  \nImprovement: [Clear, actionable suggestions to resolve the issue]  \nExample:  \nCategory: Authentication  \nKey Pain Points: Users frequently experience login failures due to forgotten passwords.  \nImprovement: Implement a more intuitive \"Forgot Password\" flow with real-time hints and alternative authentication options.  \nEnsure that your analysis is concise, insightful, and actionable to drive meaningful product enhancements.\n\nPlease note that when categorizing issues and proposing optimization suggestions, each item should be followed by the corresponding user comment number such as row_number for easy location.\n\nNote that the final text is written to google doc, Do not use too much markdown syntax, instead use Google Doc's syntax.\n\nBelow are the user reviews that need to be analyzed.\n{{JSON.stringify($json.data) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        528,
        176
      ],
      "id": "17bdf648-0ad9-4d73-a071-22f33a3e8143",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-reasoner",
          "mode": "list",
          "cachedResultName": "deepseek-reasoner"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        368
      ],
      "id": "f8f24f57-4f5a-4d81-86c9-03e5872c4f0b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XA4x6NehB31o7nce",
          "name": "OpenAi DeepSeek"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ $now.format('yyyy/MM/dd HH:mm:ss') }} - Zoom App Store review summary"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1328,
        48
      ],
      "id": "6accf022-3492-4487-930e-e09fc027b18a",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "OA4Ji1Nlqv5HAIXs",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=App store data source :\n\n{{ $('Edit Fields').item.json.google_sheet_url }}\n\n\n{{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1552,
        48
      ],
      "id": "6b1e1e3c-6873-4a24-921d-d148fe9c0c87",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "OA4Ji1Nlqv5HAIXs",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "commenter",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1776,
        48
      ],
      "id": "0cef53fc-6281-46fe-aba4-51e03577cb90",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rgGlS5cKzd9uR0W1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"google_sheet_url\": \"https://docs.google.com/spreadsheets/d/1tiBAVoFrT_R5TtPJJ-DXlT00PC8NQL7xP3ctQmD1Rj8/edit?gid=838036886#gid=838036886\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        176
      ],
      "id": "588d77b9-ec0e-4e43-9fa5-669c050d45f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-turbo",
          "mode": "list",
          "cachedResultName": "qwen-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        528
      ],
      "id": "96c6fb1d-c95e-4860-8ead-68fafdefe410",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JUSx3ZXiV5VE90VB",
          "name": "OpenAi QWEN"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "commenter",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1776,
        304
      ],
      "id": "a9d46ae7-2284-4c2a-94f7-acf2e85ba368",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rgGlS5cKzd9uR0W1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=App store data source :\n\n{{ $('Edit Fields').item.json.google_sheet_url }}\n\n{{ $('AI Agent Translate CN').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1552,
        304
      ],
      "id": "3b5247e6-041f-4b30-b4e4-81beb7cddd1a",
      "name": "Update a document CN",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "OA4Ji1Nlqv5HAIXs",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=把下面这段翻译成中文，注意专有名词不用翻译\n{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        928,
        304
      ],
      "id": "7c3f8fd6-032e-4ab2-bd2a-d3e041985ed5",
      "name": "AI Agent Translate CN"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ $now.format('yyyy/MM/dd HH:mm:ss') }} - 中文 Zoom App Store review summary"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1328,
        304
      ],
      "id": "464a3c63-3940-4472-b9b3-997935f374a6",
      "name": "Translate document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "OA4Ji1Nlqv5HAIXs",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrations.zoom.us/chat/webhooks/incomingwebhook/1FsPm1IPSQ-CuI-rgokRKA?format=fields",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=Zoom App Store review summary {{ $now.format('yyyy-MM-dd') }}",
              "value": "=The following is a summary of reviews for Zoom Workplace in the App Store over the past period of time. \nhttps://docs.google.com/document/d/{{$('Create a document').item.json.id }}\n\n中文版本\nhttps://docs.google.com/document/d/{{$('Translate document').item.json.id }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        128
      ],
      "id": "ca059895-06c3-4ea5-8c6e-1ca12594ec4f",
      "name": "HTTP Request Test Workflow",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "0CISyYzvo82eYmkP",
          "name": "Bearer Auth account test n8n init"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrations.zoom.us/chat/webhooks/incomingwebhook/Z5zdVw-9R9KigtOMj3kpDg?format=fields",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=Zoom App Store review summary {{ $now.format('yyyy-MM-dd') }}",
              "value": "=The following is a summary of reviews for Zoom Workplace in the App Store over the past period of time. \nhttps://docs.google.com/document/d/{{$('Create a document').item.json.id }}\n\n中文版本\nhttps://docs.google.com/document/d/{{$('Translate document').item.json.id }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        128
      ],
      "id": "24b9703e-ac70-4725-bf4a-9f3494d6724b",
      "name": "HTTP Request Prod",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "34gYMJOsV1Eyuekn",
          "name": "Bearer Auth n8n online group"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom Reviews": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Zoom Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "AI Agent Translate CN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Translate CN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Share file1": {
      "main": [
        [
          {
            "node": "HTTP Request Test Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document CN": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Translate CN": {
      "main": [
        [
          {
            "node": "Translate document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate document": {
      "main": [
        [
          {
            "node": "Update a document CN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Test Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fbcb2268-7625-4566-9713-d605596fed7d",
  "triggerCount": 0,
  "tags": []
}